<% item = mark.item %>

<article class="mark-card <%= item.image_url ? 'with-image' : nil %>">
  <div class="mark-user-icon">
    <%= image_tag(mark.user.icon_url, size: "36x36") %>
  </div>
  <p class="mark-user-name">
    <%= link_to("@" + mark.user.name, mark.user) %>
    <span>shared</span>
  <p class="mark-time">
    <span><%= mark.created_at.strftime("%Y/%m/%d %H:%M") %></span>
  </p>
  <h3>
    <%= link_to(item.title.presence || item.url, item.url, target: "_blank") %>
  </h3>
  <p class="domain">
    <%= item.domain %>
  </p>
  <% if item.image_url %>
  <div class="mark-card-image" style="background-image: url(<%= item.image_url %>)">
  </div>
  <% end %>
</article>
