<!DOCTYPE html>
<html>
  <head>
    <title>Circulation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to("Circulation", root_path) %>
      </h1>
      <%= render(partial: "shared/google_login") %>
    </header>
    <%= yield %>
  </body>
</html>
